* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 0.5rem;
    }

    ::-webkit-scrollbar-track {
        background: white;
    }

    ::-webkit-scrollbar-thumb {
        background: #1d72b8;
        border-radius: 1rem;
    }
}

body {
    padding: 0 20px 0 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    color: #333;
    font-family: roboto, sans-serif;
}


/* header */
header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.8rem, 1fr));
    gap: 0.5rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 0.1rem;
    border-radius: 0.5rem;
}

.profile .img-container {
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

.img-container .profile-img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.profile-img:hover,
.myHome-img:hover {
    scale: 1.1;
}

.profile h1 {
    font-size: 2.5em;
    color: #333;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: #1d72b8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

.nav-list {
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: whitesmoke;
    border-width: 0;
}

.nav-list li a:hover {
    color: black;
    background-color: rgba(182, 170, 170, 0.1);
    transform: scale(1.1);
    border-width: 1px;
}

.nav-list li a.active {
    content: "";
    background-color: rgba(182, 170, 170, 0.1);
    transform: scale(1.1);
    border-width: 1px;
    color: black;
    border-bottom: 3px solid black;
}

.app {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.app.light {
    background-color: #ffffff;
    color: #000000;
}

.app.dark {
    background-color: #121212;
    color: #ffffff;
}


/* header */

/* home section */
.home-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    margin-top: auto;
    padding: 0.5rem;
}

.my-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: 1.1rem solid #1d72b8;
    box-shadow: 10rem 0 50rem rgba(245, 222, 179, 0.142);
    position: relative;
}

.my-img .picture {
    overflow: hidden;
    border-radius: 1rem;
}

.my-img .myHome-img {
    height: fit-content;
    width: 100%;
    border-radius: 1rem;
    animation: fadeIn 1.5s ease-in-out;
}

.myHome-img:hover {
    transform: scale(1.01);
    transition: all 0.5s linear;
}

.myInfo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
}

.my-info {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

h2 {
    font-size: 2em;
    color: #1d72b8;
}

.info p {
    color: #555454;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.textTyping {
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: typing 20s steps(60) 0.1s infinite alternate, blink-caret 0.2s step-start infinite;
}

@keyframes typing {

    0%,
    50% {
        width: 0;
    }

    25%,
    75% {
        width: 16ch;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

span {
    color: #666;
    display: inline-block;
    text-align: justify;
    hyphens: auto;
    text-wrap: wrap;
}

.social-media {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}

.social-icon {
    height: 2rem;
    width: 2rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 3px 0.1rem #1d72b8;
    transition: transform 0.5s ease;
}

.social-icon:hover {
    transform: scale(1.3);
}

.about-page {
    text-align: center;
    padding: 0.5rem;
}

.about-page .about-btn {
    width: 10rem;
    padding: 0.5rem;
    border: 0 solid white;
    border-radius: 0.2rem;
    color: #f4f4f4;
    background-color: #1d72b8;
    transition: background-color 0.5s ease;
}

.about-btn:hover {
    cursor: pointer;
    background-color: #092b43;
}

.linkBtn {
    color: white;
    text-decoration: none;
}

.pageMargin {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* home section */

/* about-section */
.about-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    position: relative;
}

.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 4.6rem;
    right: 1.2rem;
    width: 8rem;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 0.5rem 0 0 0.5rem;
    padding: 0.5rem;
    color: #f4f4f4;
    background-color: #1d72b8;
    transition: background-color 0.3s ease;
    z-index: 3;
    animation: fadeIn 1.5s ease-in-out;
    transition: transform 0.5s ease;

}

.resume-btn:hover {
    transform: scale(1.05);
    background-color: #1d72b8;
}

.resume-btn .resume-icon {
    height: 2.3rem;
    color: black;
}

.introduction,
.education,
.skills {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.introduction:hover,
.skills:hover,
.education:hover,
.connect:hover {
    transform: scale(1.02);
    transition: all 0.5s ease;
}

.introduction h2,
.skills h3,
.education h4 {
    border-bottom: 1px solid black;
    border-radius: 0.1rem;
    letter-spacing: normal;
    font-size: 2em;
    color: #333;
    margin: 0;
}

.introduction p,
.skills p {
    text-align: justify;
    hyphens: auto;
    text-wrap: wrap;
}

.master p,
.bachelor p,
.higher p,
.slc p {
    color: #333;
    font-size: 1.1rem;
    padding: 0;
    margin-top: 0;
}

.skills .skills-list {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.front-end,
.back-end,
.version-control,
.tools,
.develope {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    flex-grow: 1;
    color: #f4f4f4;
    background-color: #1d72b8;
}

.front-end:hover,
.back-end:hover,
.version-control:hover,
.tools:hover,
.develope:hover {
    transform: scale(1.01);
    background-color: #155a8a;
}

.front-end p,
.back-end p,
.version-control p,
.tools p {
    color: #f4f4f4;
    display: flex;
    padding-left: 2rem;
    align-items: center;
    height: 2rem;
    position: relative;
}

.skills-icons {
    position: absolute;
    left: 0.1rem;
    height: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid white;
    animation: blick 1s linear infinite;
    transition: transform 0.5s ease;
}

.skills-icons:hover {
    transform: scale(1.3);
}

.skills-list strong {
    border-bottom: 1px solid white;
    margin-top: 0.5rem;
    display: inline-block;
    font-size: larger;
    padding-left: 0;
    margin-bottom: 0.5rem;
}

.develope strong {
    font-size: x-large;
    padding: 0;
}

.develope ul {
    margin-top: 0.2rem;
    padding-left: 1rem;
}

.education h4 {
    padding: 0;
    font-size: 2em;
    color: #333;
}

.master,
.bachelor,
.higher,
.slc {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    background-color: #1d72b8;
}

.master p,
.bachelor p,
.higher p,
.slc p {
    color: #f4f4f4;
    font-size: x-large;
}

.master span,
.bachelor span,
.higher span,
.slc span {
    font-style: italic;
    color: #f4f4f4;
}

.program {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.connect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: #fff;
}

.connect .reach-visit h5 {
    font-size: 2em;
    padding-left: 0.2rem;
    margin-bottom: 0.5rem;
}

.connect .reach-visit p {
    color: black;
    padding-left: 2.3rem;
    position: relative;
    text-transform: lowercase;
    margin-top: 1rem;
}

.contact-icon,
.gmail-icon {
    cursor: pointer;
    height: 1.5rem;
    position: absolute;
    left: 0.2rem;
    transition: transform 0.5s ease;
}

.contact-icon:hover,
.gmail-icon:hover {
    transform: scale(1.1);
}

.connect .visit-btn {
    cursor: pointer;
    width: 10rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: #f4f4f4;
    align-self: center;
    background-color: #1d72b8;
    transition: background-color 0.5s ease;
    border: 0 solid white;
}

.visit-btn:hover {
    cursor: pointer;
    background-color: #092b43;
}

/* about-section */

/* project-section */
.project-container {
    margin-top: 1rem;
    position: relative;
}

.project-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    text-align: justify;
    hyphens: auto;
    text-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item:hover {
    transform: scale(1.01);
    transition: all 0.5s ease;
}

.project-item .img-name {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.5rem;
}

.project-item .project-img-container {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project-img-container img {
    height: 10rem;
    border-radius: 0.3rem;
    cursor: pointer;
    animation: fadeIn 1.5s ease-in-out;
}

.project-img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
}

.project-name {
    color: #155a8a;
    font-size: 2em;
    margin: 0.5rem;
}

.project-link {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: #f4f4f4;
    background-color: #1d72b8;
    transition: background-color 0.5s ease;
}

.project-link:hover {
    background-color: #092b43;
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0 0 .5rem 0;
    padding: 1rem;
}

.project-description h3 {
    font-size: 1.5em;
}

.sourceCode {
    position: fixed;
    top: 5.3rem;
    right: 1.2rem;
    height: 3rem;
    border-radius: 0.5rem 0 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    overflow: hidden;
    width: 8rem;
    animation: blick 0.5s linear infinite;
    background-color: #1d72b8;
    z-index: 2;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes blick {
    from {}

    to {
        border: 2px solid white;
        box-shadow: 0 0 0.5rem whitesmoke;
    }
}

.sourceCode:hover {
    width: 20rem;
    animation: none;
    transition: all 0.6s linear;
}

.sourceCode:hover h4 {
    display: block;
}

.sourceCode a {
    display: flex;
    flex-wrap: wrap;
}

.sourceCode h4 {
    color: #f4f4f4;
    font-size: x-large;
    padding: 0.3rem;
    display: none;
}

.source-icon {
    height: 2.5rem;
}

.source-icon:hover {
    scale: 1.1;
}

/* project-section */

/* contact-section */
.section-contact {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 0.5rem;
    position: relative;
}


.contact-container {
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1.5rem;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form {
    display: flex;
    flex-grow: 1;
    max-width: 30rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    padding: 1rem;
    flex-grow: 1;
    gap: 1rem;
    height: 27rem;
    min-width: 100%;
    border: 1px solid white;
    color: #f4f4f4;
    background-color: #1d72b8;
}

.name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.email {
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.1rem;
}

.name-email {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}

.nameEmail {
    border: 1px solid whitesmoke;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.3rem;
    width: 100%;
    border-color: transparent;
}

textarea {
    border: 1px solid whitesmoke;
    border-radius: 0.2rem;
    text-align: center;
    padding: 3.5rem;
    height: 10rem;
    width: 100%;
}

.nameEmail::placeholder,
textarea::placeholder,
.subject::placeholder {
    color: var(--white-color);
}

.button {
    display: flex;
    justify-content: center;
}

.btn-submit {
    width: 8rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 0 solid white;
    cursor: pointer;
    background-color: #f4f4f4;
}

.btn-submit:hover {
    color: white;
    background-color: #092b43;
    transition: background-color 0.5s ease;
}

#submit-btn {
    display: none;
}

.contact-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    max-width: 30rem;
    flex-grow: 1;
}

iframe {
    width: 5rem;
    flex-grow: 1;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

/* contact-section */

/* footer-section */
footer {
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background-color: #1d72b8;
    color: #f4f4f4;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.1rem;
}

/* footer-section */

@media only screen and (max-width: 370px) {

    .nav-list li a {
        font-size: 0.739rem;
        font-weight: bolder;
    }

    .my-img {
        border-right: 0rem solid white;
        border-radius: 0rem;
    }

    .my-img .picture {
        overflow: hidden;
        padding: 0.5rem;
        border-radius: 2rem;
    }

    .my-img .myHome-img {
        height: 10rem;
        border-radius: 1rem;
        transition: transform 0.3s ease;
    }

    .section-contact {
        padding: 1rem;
    }

    .contact-container {
        gap: 1rem;
    }

    /* about-section */
    .resume-btn {
        top: 8.4rem;
        padding: 0.1rem;
    }

    .introduction h2,
    .skills h3,
    .education h4,
    .connect .reach-visit h5 {
        font-size: 1.7em;
    }

    .master p,
    .bachelor p,
    .higher p,
    .slc p {
        font-size: large;
    }

    .bachelor span,
    .higher span,
    .slc span {
        font-size: 0.8rem;
    }

    .connect .reach-visit p {
        padding-left: 2rem;
        font-size: 0.9rem;
    }

    .connect .visit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0.5rem;
        right: 0.5rem;
        height: 2rem;
    }

    /* about-section */

    /* project-section */
    .project-item {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }

    .project-name {
        font-size: 1.7em;
    }

    .project-description h3 {
        font-size: 1.4em;
    }

    .project-img-container img {
        height: 7rem;
    }

    .sourceCode {
        top: 8.4rem;
        width: 5rem;
        padding: 0.1rem;
    }

    .sourceCode:hover {
        width: 15rem;
    }

    .sourceCode h4 {
        font-size: 1.3rem;
    }

    /* project-section */

    footer {
        font-size: 0.9rem;
    }

}

@media only screen and (max-width: 800px) {
    .my-img {
        border-right: 0;
    }
}